<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheet.css" type="text/css" />
    {{!-- important: slash (/) before stylesheet.css ! --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap">
    <title>Kaleidoscope</title>
</head>

<body>
    <header>
        <h1>Kaleidoscope</h1>
        <nav></nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <div class="contact">
            <span><sup><b>Get in touch:</b></sup></span>
            <a class="white" target="_blank" href="https://github.com/andy-9"><i class="fa fa-github"> @andy-9</i></a>

            <a class="white" target="_blank" href="https://www.linkedin.com/in/andreas-hechler-810172192"><i class="fa fa-linkedin-square"> @andreas-hechler-810172192/</i></a>
            
            <a class="white" target="_blank" href="https://www.xing.com/profile/Andreas_Hechler10"><i class="fa fa-xing"> @Andreas_Hechler10</i></a>
            
            <a class="white" target="_blank" href="https://twitter.com/HechlerAndreas"><i class="fa fa-twitter"> @HechlerAndreas</i></a><br>
        </div>
        <a id="back" href="/">Back to main site</a>
        <div id="copyright">© Andreas Hechler 2020</div>
    </footer>
    
</body>
</html>
