<h3>Here you find all the smaller and medium-sized software projects I have built in my first six weeks at <a href="https://www.spiced-academy.com/en/" target="_blank">Spiced Academy</a></h3>

<div id="welcomestyle">
    {{>projList images=true}}
</div>