* {
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: center;
}

textarea {
    width: 50em;
    height: 20em;
    border: 2px solid black;
    padding: 0.5em;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: rgb(241, 240, 240);
}

textarea:focus {
    background: white;
    outline: none;
}

textarea::placeholder {
    color: lightgrey;
    font-size: 1em;
    font-style: italic;
}

.valid {
    visibility: hidden;
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    color: green;
    text-align: center;
    position: absolute;
    top: 9em;
    background: none;
    animation: blink 1s infinite;
    /* animation-timing-function: ease-in-out; */
}

.inv {
    visibility: hidden;
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    color: red;
    text-align: center;
    position: absolute;
    top: 9em;
    background: none;
    animation: blink 1s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.button {
    background-color: white;
    color: grey;
    width: 10em;
    height: 3em;
    font-size: 1em;
    text-align: center;
    border: 2px solid grey;
    border-radius: 2em;
    margin: 2em;
    display: block;
}

.button:hover {
    background-color: rgb(241, 240, 240);
    border: 2px solid black;
    color: black;
}

.button:focus {
    outline: none;
}
